h2 Meat
select.meat 
	option(value="none") Select Meat
	option Beef
	option Lamb
	option Veal
	option Goat

h2 Meat Cut
select.cut
	option(value="none") Select Cut
	option Mince
	option Steak
	option Roast
	option Shank
	option Schnitzel
	option Cutlet
	option Fillet

h2 Method
select.method
	option(value="none") Select Method
	option Barebecue
	option Braise and Casserole
	option Grill
	option Roast
	option Pan-fry
	option Shallow-fry
	option Char-grill
	option Simmer
	option Bake
	option Pot-roast
	option Saute
	option Sous-Vide
	option Pan-grill
	option Deep fry

h2 Cuisine Type
select.cuisine
	option(value="none") Select Cuisine
	option Asian
	option French
	option Italian
	option Greek
	option Indian
	option Mexican
	option Modern Australia
	option Middle Eastern
	option Other
	option Australian
	option Vietnamese
	option European
	option British
	

ul.results
	li.recipeitem
		a(href="#recipe/{0}") {1}



